/*header*/
nav {
    height: 100px;
    z-index: 3;
}
.navbar-brand>img {
    width: 60%;
}
.in {
    background-color: #222;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

/*body*/
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.fotorama {
    position: relative;
}
.gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    background: -webkit-linear-gradient(black, transparent);
    z-index: 2;
}

/* Dots inside the fotorama container */
.fotorama__nav {
    margin-top: -31px;
}
.fotorama__dot {
    border: 3px solid #F1DFDF;
    width: 10px;
    height: 10px;
    top: 0px;
}
.fotorama_wrap {
    z-index: 1;
}
.fotorama-img {
    text-align: center;
    height: 100%;
    padding-top: 100px;
    color: white;
}
.jumbotron {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

/*footer*/
footer {
    background-color: #222;
}
footer>.container {
    padding: 20px;
}
footer>.container>.row>div {
    color: white;
}
.footer-content {
    padding-top: 10px;
}
.fa-circle {
    color: #c0392b;
}








