/*header*/
header {
    background-color: #222;
}
.nav-pills>li>a {
    color: white;
}
.nav-pills>li>a:hover {
    background-color: transparent;
}
.nav-pills>li>a:focus {
    background-color: transparent;
}
.navbar-menu>button {
    background-color: #222;
    margin-top: 25px;
}
.navbar-menu>button:hover {
    background-color: transparent;
}
.navbar-menu>button:active {
    background-color: transparent;
}
.navbar-menu>button>i {
    color: white;
}
.navbar-menu>.dropdown-menu {
    background-color: #222;
}
.navbar-menu>.dropdown-menu>li>a {
    color: white;
}
.navbar-menu>.dropdown-menu>li>a:hover {
    color: black;
}
/*body*/
body {
    background-color: #eee;
}
.carousel-inner>.item>img {
    width: 100%;
}
/*menu*/
.menu-buttons {
    text-align: center;
    margin-top: 15px;
}
.media-object {
    height: 70px;
    width: 70px;
}

/*footer*/
footer {
    background-color: #222;
}
footer>.container {
    padding: 20px;
}
footer>.container>.row>div {
    color: white;
}
.footer-content {
    padding-top: 10px;
}
.fa-circle {
    color: #c0392b;
}
