/*header*/

nav {
    height: 100px;
}

.navbar-header>.nav-pills {
    padding-top:50px;
}
.navbar-header>.nav-pills>li>a {
    color: #eee;
    font-size: large;
}
.navbar-header>.nav-pills>li>a:hover, .navbar-header>.nav-pills>li>a:focus {
    background-color: transparent;
}

/*footer*/
footer {
    background-color: #222;
    height: 100%;
}
footer>.container {
    padding: 20px;
}
footer>.container>.row>div {
    color: white;
    text-align: center;
}
.footer-content {
    padding-top: 10px;
}
