{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<div class="container">
            <h1 class="text-center">About</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'img/tony_finau.jpg' %}" class="img-responsive">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center"><b>2016 Puerto Rico Open Champion, Pro-Golfer Tony Finau</b></p>
					<p class="text-left">Chef Song has been in business for more than 25 years and he takes pride in providing consistently fresh, innovative, healthy foods using only the finest ingredients to customers. One of his main goals through Akasaka, will be to make and sustain a connecting bond with not only the surrounding community of the Manassas neighborhood, but with Northern Virginia as well. </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>About us</b>
                        <p>Akasaka is the premiere Japanese Sushi and Steakhouse located in Manassas Virginia. We offer quality food and beverage selections along with fascinating Chef’s that are sure to entertain you as they prepare your Hibachi sensations. Our Sushi is prepared daily and made to order. Come enjoy our lunchtime sushi selections as a great way to explore our cuisine.</p>
                    </li>
                    <li class="list-group-item">
                        <b>Contact us</b>
                        <br>
                        <i class="fa fa-phone" aria-hidden="true"></i> 703-361-0111
                        <br>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        10788 Sudley Manor Dr, Manassass, VA 20109
                    </li>
                    <li class="list-group-item">
                        <b>Find us</b>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.934788699919!2d-77.51949698493375!3d38.78812927958764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b65d1d94578467%3A0x97b099c54328c6e9!2s10788+Sudley+Manor+Dr%2C+Manassas%2C+VA+20109!5e0!3m2!1sen!2sus!4v1462218246671" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <b>Hours</b>
                        <p>
                        Mon-Thu:4:00pm - 9:30pm<br />
                        Friday: 11:30am - 2:00pm, 4:00pm -
                        10pm<br />
                        Saturday: 12pm - 10pm<br />
                        Sunday: 12pm - 9pm
                        </p>
                    </li>
                    <li class="list-group-item">
                        <b>Follow us</b>
                        <br>
                        <a href="https://www.facebook.com/akasakajs" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="https://plus.google.com/108644926335098395419/about?hl=en&gl=us" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="http://www.yelp.com/biz/akasaka-sushi-and-steak-manassas" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-yelp fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}
