<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Akasaka</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet" type="text/css"> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" async></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block index_style %}{% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="collapse-menu" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span
							  class="icon-bar"></span>
						<span
							  class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img alt="Akasaka" class="img-responsive" src="{% static 'img/logo.png' %}">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="collapse-menu">
					<ul class="nav navbar-nav navbar-right">
						<li role="presentation"><a href="/"><b>Home</b></a></li>
						<li role="presentation"><a href="/menu"><b>Menu</b></a></li>
					</ul>
				</div>

            </nav>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <b>Contact</b>
                        <div class="footer-content">
                            <i class="fa fa-phone"
                               aria-hidden="true"></i> 703-361-0111
                           <br>
                           <i class="fa fa-map-marker" aria-hidden="true"></i> 
                           10788 Sudley Manor Dr, Manassass, VA 20109

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <b>Follow us</b>
                        <div class="footer-content">
                            <a href="http://facebook.com/akasakajs">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x
                                    fa-inverse"></i>
                                </span>
                            </a>
                            <a href="http://twitter.com/akasakava">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x
                                    fa-inverse"></i>
                                </span>
                            </a>
                            <a
                                       href="https://plus.google.com/108644926335098395419/about?hl=en&gl=us">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x
                                    fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <b>Hours</b>
                        <div class="footer-content">
                            <p>
                            M-Thu: 11:30am - 2:30pm, 4:30pm -
                            9:30pm<br />
                            Friday: 11:30am - 2:30pm, 4:30pm -
                            10pm<br />
                            Saturday: 12pm - 10pm<br />
                            Sunday: 12pm - 9pm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
