{% extends 'base.html' %}
{% load staticfiles %}

{% block index_style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="gradient"></div>
        <div class="fotorama"
            data-width="100%"
            data-ratio="16/9" data-fit="cover">
            <img src="{% static "img/1.JPG" %}"/>
            <img src="{% static "img/3.jpg" %}"/>
            <img src="{% static "img/dragon2.jpg" %}"/>
        </div>
    </div>
{% endblock %}
