{% extends 'base.html' %}
{% load staticfiles %}

{% block index_style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="gradient"></div>
        <div class="fotorama"
            data-width="100%"
            data-ratio="800/600" data-fit="contain">
            <img src="{% static "img/1.jpg" %}"/>
            <img src="{% static "img/2.jpg" %}"/>
            <img src="{% static "img/dragon2.jpg" %}"/>
        </div>
    </div>
{% endblock %}
