{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs nav-justified">
    {% for cat in cats %}
    <li role="presentation" class="active"><a href="#{{ cat }}"><div class="text-uppercase"><b>{{ cat }}</b></div></a></li>
    {% endfor %}
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for cat in cats %}
            <div class="page-header">
                <h2 id="{{ cat }}">{{ cat }} <small><a href="#"><i class="fa fa-chevron-circle-up fa-lg" aria-hidden="true"></i></a></small></h2>
            </div>
            <ul class="list-group">
                {% for item in cat.menu_set.all %}
                {% load staticfiles %}
                {% load functions %}
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="#imager" data-toggle="modal" data-target="#imager" data-image="{% static 'img/menu' %}/{{ item.item_name|imager }}.jpg" data-name="{{ item.item_name }}">
                                <img class="media-object" src="{% static 'img/menu' %}/{{ item.item_name|imager }}.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ item.item_name }}</h4>
                            <p>{{ item.detail }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="imager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel"><span class="item-name"></span></h4>
            </div>
            <div class="modal-body">
                <img src"" class="img-responsive">
            </div>
        </div>
    </div>
</div>
{% endblock %}
